body {
    margin: 0;
    font-family: sans-serif;
  }
  header {
    background: #e0e0e0;
    padding: 10px;
  }
  
  .barra-superior {
    background: #87cecf;
    height: 30px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  nav input {
    width: 50%;
    padding: 5px;
  } .hero 
  {
    display: flex;
    background: #ffd578;
    padding: 20px;
  }
  
  .hero .imagen {
    background: #ffc04c;
    width: 150px;
    height: 150px;
    margin-right: 200px;
  }
  
  .hero .texto h1 {
    background: #ffc04c;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .hero .texto p {
    background: white;
    margin: 5px 0;
    height: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
  }
  
  .caja {
    height: 150px;
    width: 150px;
    position: relative;
  }
  
  .caja::before {
    content: '';
    position: absolute;
    top: 35px;
    left: 35px;
    width: 80px;
    height:80px;
    opacity: 0.6;
  }
  .azul {
    background: #b6ebf2;
  }
  
  .azul::before {
    background: #9ee0e6;
  }
  
  .rojo {
    background: #ffa589;
  }
  
  .rojo::before {
    background: #ff8a65;
  }
  
  .amarillo {
    background: #ffd578;
  }
  
  .amarillo::before {
    background: #ffc04c;
  }
  footer {
    background: #ececec;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  footer .columna {
    width: 30%;
    height: 60px;
    background: #d3d3d3;
  }