body {
    margin: 0;
    font-family: sans-serif;
  }
  header {
    background: #e0e0e0;
    padding: 10px;
  }
  
  .barra-superior {
    background: #87cecf;
    height: 30px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  nav input {
    width: 50%;
    padding: 5px;
  } .hero 
  {
    display: flex;
    background: #ffd578;
    padding: 20px;
  }
  
  .hero .imagen {
    background: #ffc04c;
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }
  
  .hero .texto h1 {
    background: #ffc04c;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .hero .texto p {
    background: white;
    margin: 5px 0;
    height: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 20px;
  }
  
  .caja {
    height: 150px;
    position: relative;
  }